<h1 style="text-align: center; font-weight: bold;">Your personnal stupid coach</h1>


<form action="/answer" method="get" style=" text-align: center;">
  <input type="text" name="question"  placeholder="What is ur question?">
  <input type="submit" value="Ask!" style=" background-color: blue; color: white;">
</form>